<div class="main-container">
    <div *ngFor="let item of items">
        <div class="item-container">
            <div class="child-container">
             <button class="buttonimg" (click)="SelectImg(item.title)">  <img [src]="item.img" width="120px" height="120px"></button>
            </div>
            <div class="title"> {{item.title}}</div>
            <div class="price">{{item.price}}</div>
        </div>
    </div>
</div>
<div class="window">
  
 <h1>MyCart</h1>
 
 
 <div>
    <h3>Total items:{{number}} </h3>
</div> 
    <div class="button">
     <button class="button" (click)="buttonExpand()"  *ngIf="hidden" >Expand
        
        
     </button>
     
     <button class="button" (click)="buttonHidde()"  *ngIf="!hidden" >hide</button>
    
      </div>
    <div *ngIf="WordHidde">
        
      <div class="TitleStayle" *ngFor="let name of names"  >
        {{name}}
       </div>
    </div>
    
 </div>



