.main-container {
    display: flex;
    padding: 20px;
}

.child-container {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgb(148, 133, 98);
    margin-right: 20px; /* Adds space to the right of each child */
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.buttonimg{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: rgb(148, 133, 98);
    margin-bottom: 10px;
    border-style: hidden;
}
.title{
    font-size: 18px;
    font-weight: bold;
}

.price {
    font-size: 18px;
    font-weight: bold;
}
.item-container {
    display: flex;
    flex-direction: column; /* Stack child and price vertically */
    align-items: center; /* Center the items horizontally */
}


.child-container:hover{
    width: 200px;
    cursor: pointer;
    height: 200px;
}

.child-container:hover img {
    transform: scale(1.3); /* Adjust the scale factor as needed */
    transition: transform 0.3s ease-in-out;
}

/* Remove the margin from the last child to avoid extra spacing */
.child-container:last-child {
    margin-right: 0;
}
.window{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    position:absolute;
     right: 20px;
    background-color: darkgray;
}
.button{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 40%;
    left:30%;
    align-items: center;
    width: 100px;
    background-color: blue;
    color: white;
   
   
    border-radius: 10%;

}
.TitleStayle{
    width:  300px;
    margin-top: 5%;
     text-align: center;
     align-items: center;
     
     background-color:antiquewhite;
     color: black;
   
    
    
    




}